* {
	box-sizing: border-box;
	font-family: Futura;
}
body {
	background: #ffe1f1;
}
.container {
	width: 85%;
	margin: 5% auto 5% auto;
	padding: 5% 15%;
	background: #7A2553;
	color: #fff9ea;
	border-radius: 1em;
}
h1, h2 {
	font-weight: 100;
}